[Unit]
Description=3proxy
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/3proxy /etc/3proxy/3proxy.cfg
User=nobody
Group=nogroup
Restart=on-failure
ProtectHome=true
ProtectSystem=full
PrivateUsers=true
# Logging directory
ReadWritePaths=/tmp
ReadWritePaths=/var/log

[Install]
WantedBy=multi-user.target
