#!/usr/bin/make -f

export _DESTDIR=$$(pwd)/debian/3proxy

%:
	dh $@ --buildsystem=makefile --with=systemd

override_dh_auto_build:
	$(MAKE) -f Makefile.Linux
	iconv -f KOI8-R -t UTF-8 doc/ru/example1.txt | awk '/---3proxy.cfg/{flag=1;next}/---/{flag=0}flag' | sed 's/setuid/#setuid/g' | sed 's/setgid/#setgid/g' > cfg/3proxy.cfg.simple-example

override_dh_auto_clean:
	find src/ -maxdepth 1 -type f -executable -delete
	find src/ -type f -name "*.o" -delete
	find src/ -type f -name "Makefile.var" -delete
	rm -f cfg/3proxy.cfg.*example

override_dh_auto_install:
	$(MAKE) -f Makefile.Linux DESTDIR=$(_DESTDIR) ETCDIR=$(_DESTDIR)/etc/3proxy prefix=/usr install
	iconv -f KOI8-R -t UTF-8 doc/ru/example1.txt | awk '/---3proxy.cfg/{flag=1;next}/---/{flag=0}flag' | sed 's/setuid/#setuid/g' | sed 's/setgid/#setgid/g' > $(_DESTDIR)/etc/3proxy/3proxy.cfg.simple-example
	sed 's/\/usr\/local/\/usr/g' cfg/3proxy.cfg.sample > cfg/3proxy.cfg.example
	chmod +x cfg/3proxy.cfg.example
	
